*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #23232e;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: black;   
    border-radius: 20px;    
    border: 3px solid #23232e;
  }
a{
    text-decoration: none;
    color: #fff;
}
header a{
    color: #fff; 
}
header a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #23232e;
    height: 8vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
main{
    background: url('bg.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
/*-----------NAVBAR--------------*/
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition:  0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .nav-list.active {
        transform: translateX(0);
    }
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
/*------------CONTEUDO---------*/
span{
    font-size: 15px;
    color: #cbcbd6;
}
/*------------inicio-----------*/
.inicio{
    width: 100vw;
    height: 100vh;
    background-color: #23232eb4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inicio h1{
    color: #cbcbd6;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.inicio p{
    margin-bottom: 2rem;
    color: #cbcbd6;
}
.inicio .btns{
    display: flex;
}
.inicio .btns a {
    width: 13rem;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
}
.inicio .btns a:hover {
    background-color: #fff;
    color: #23232e;
    transform:translate(-1px, -1px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.3s, border 0.5s;
}
/*-----------sobre----------*/
.sobre{
    width: 100vw;
    height: 100vh;
    background-color: #23232e;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10rem;
}
.sobre img{
    width: 15rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.sobre div h1{
    color: #fff;
    font-size: 30px;
    margin-bottom: 1rem;
}
.sobre div p{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}
.sobre div{
    width: 50rem;
    margin-left: 10px;
    transform: translateY(50px);
}
.tecnologias{
    color: white;
}

.tecnologias>div>i{
    font-size: 3rem;
    margin-left: 10px;
    transform: translateY(-20px);
}
.curriculo{
    display: block;
    background-color: #404053;
    padding: 5px;
    border-radius: 10px;
    transform: translateY(60px);
    width: 150px;
    text-align: center;
}
/*-------------Projetos----------*/
.projetos{
    width: 100vw;
    height: 100vh;
    background: url('bg.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size:cover ;
}
.projetofundo{
    width: 100vw;
    height: 100vh;
    background-color: #23232eb4;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
.projetofundo h1{
    color: #cbcbd6;
    font-size: 2.5rem;
}
.caixaProjetos{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
}
.caixaProjetos>:nth-child(2){
    height: 31rem;
}
.projeto{
    background-color: #23232e;
    width: 20rem;
    height: 30rem;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}
.projeto img{
    width: 20rem;
    border-radius: 20px 20px 0px 0px;
    
}
.projeto:hover{
    transform:translate(-3px, -3px);
    box-shadow: none;
    transition: transform 0.3s, border 0.5s;
}
.descrição{
    color: #cbcbd6;
    font-size: 13px;
    line-height: 20px;
}
/*--------contato--------*/
.contatos{
    width: 100vw;
    height: 100vh;
    background-color: #23232e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.contatos div{
    text-align: center;
    line-height: 40px;
    color: #cbcbd6;
}
.contatos div h1{
    font-size:2rem;
}
.contatos a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
.whatsapp{
    color: #1bd741 !important;
    border: 1px solid #1bd741 !important;
}
.linkedin{
    color: #0a66c2 !important;
    border: 1px solid #0a66c2 !important;
}
.bx{
    font-size: 25px;
}
.contatos a:hover{
    transform:translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.3s, border 0.5s;
}
form {
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: center;
}
form input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
form label {
    color: white;
    padding: 5px;
    width: 100%;
}
form textarea{
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
form button{
    width: 400px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    color: white;
}
/*-------footer-----*/
footer{
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width:1200px){
    .inicio h1{
        font-size: 3rem;
    }
    .inicio .btns a {
        width: 10rem;
    }
    .sobre img{
        width: 12rem;
    }
    .sobre div p{
        font-size: 14px;
    }
    .sobre div{
        width: 40rem;
    }
    .tecnologias{
        color: white;
    }
    
    .tecnologias>div>i{
        font-size: 2rem;
    }
    .curriculo{
        transform: translateY(40px);
    }
    .projetofundo h1{
        font-size: 1.5rem;
    }
    .projeto{
        width: 16rem;
        height: 26rem;
        margin: 5px;
    }
    .caixaProjetos>:nth-child(2){
        height: 27rem;
    }
    .projeto img{
        width: 16rem;
    }
    .projeto:hover{
        transform:translate(-3px, -3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
        transition: transform 0.3s, border 0.5s;
    }
    .descrição{
        color: #cbcbd6;
        font-size: 11px;
        line-height: 20px;
    }
    .caixaProjetos>:nth-child(2) .descrição{
        font-size: 14px;
    }
}
@media screen and (max-width: 992px) {
    .inicio h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .inicio p{
        font-size: 12px;
    }
    .inicio .btns{
        display: flex;
        flex-direction: column;
    }

    .sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sobre img{
        width: 12rem;
        border: 10px solid #23232e;
        transform: translateY(-70px);
    }
    .sobre div{
        transform: translateY(-40px);
    }
    .sobre div h1{
        display: none;
    }
    .sobre div p{
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        
    }
    .sobre div{
        width: 20rem;
        margin-left: 10px;
   
    }
    .tecnologias{
        margin-top: 100px;
    }
    
    .tecnologias>div>i{
        font-size: 1rem;
        margin-left: 10px;
        transform: translateY(70px);
    }

    .projetofundo{
        width: 100vw;
        height: 100vh;
        background-color: #23232eb4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .projetofundo h1{
        font-size: 1.5rem;
    }
    .caixaProjetos{
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 2rem;
    }
    .caixaProjetos>:nth-child(2){
        height: 10rem;
    }
    .projeto{
        width: 20rem;
        height: 10rem;
        margin: 10px;
        display: flex;
        padding: 2px;
        justify-content: center;
        align-items: center;
    }
    .projeto img{
        width: 159px;
        height: 159px;
        border-radius: 20px 0px 0px 20px;
    }
    .descrição{
        font-size: 11px;
        line-height: 20px;
        width: 150px;
    }

    .contatos{
        width: 100vw;
        height: 50vh;
        background-color: #23232e;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
   
    .contatos div{
        line-height: 30px;
        font-size: 14px;
    }
    .contatos div h1{
        font-size:1.5rem;
    }
    .contatos a{
        width: 15rem;
    }
    footer{
        font-size: 11px;
    }
  
    
}